html, body {
  background-color: #a55dfc;
  padding: 5%;
  height: 100%;
}

body {
  border-radius: 13px;
}

div {
  margin: 2px;
}

.bi {
  font-size: 68px;
  padding: 10px 30px;
  display: inline-block;
}

.bi-record-circle {
  color: red;
}

.bi-play-circle {
  color: green;
}

.blinking {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0.1;
  }
}

.center {
  text-align: center;
}
